{% extends 'admin/admin_base.html' %}

{% block content %}
<div class="container">
    <div class="col-md-12" style="margin-top: 20%; text-align:center">
        <h3 style="margin-bottom: 50px; font-weight:700; font-size:30px">Welcome To The Admin Pannel!</h3>
        <span style="
        height: 350px;
        width: 350px;
        background-color: #eaeaea;
        border-radius: 300px;
        display: inline-block;
        padding: 75px;
        "><i class="fas fa-tools fa-9x"></i></span>
    </div>
</div>
{% endblock %}