{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6 m-auto">
        <form action="{% url 'blood-doner' %}" method="POST">
          {% csrf_token %}
            <select name="blood-group" class="form-select form-select-lg mb-3 overflow-auto p-2 mr-2" aria-label=".form-select-lg example">
                <option selected>Select Blood Group</option>
                <option value="A+">'A' positive (A+)</option>
                <option value="A-">'A' negative (A-)</option>
                <option value="B+">'B' positive (B+)</option>
                <option value="B-">'B' negative (B-)</option>
                <option value="AB+">'AB' positive (AB+)</option>
                <option value="AB-">'AB' negative (AB-)</option>
                <option value="O+">'O' positive (O+)</option>
                <option value="O-">'O' negative (O-)</option>
                
              </select>

              <select name="area" class="form-select form-select-lg mb-3 p-2" aria-label=".form-select-lg example">
                <option selected>Select Area</option>
                <option value="Bagerhat">Bagerhat</option>
                <option value="Bandarban">Bandarban</option>
                <option value="Barguna">Barguna</option>
                <option value="Barisal">Barisal</option>
                <option value="Bhola">Bhola</option>
                <option value="Bogra">Bogra</option>
                <option value="Brahmanbaria">Brahmanbaria</option>
                <option value="Chandpur">Chandpur</option>
                <option value="Chittagong">Chittagong</option>
                <option value="Chuadanga">Chuadanga</option>
                <option value="Comilla">Comilla</option>
                <option value="Cox's Bazar">Cox's Bazar</option>
                <option value="Dhaka">Dhaka</option>
                <option value="Dinajpur">Dinajpur</option>
                <option value="Faridpur">Faridpur</option>
                <option value="Feni">Feni</option>
                <option value="Gaibandha">Gaibandha</option>
                <option value="Gazipur">Gazipur</option>
                <option value="Gopalganj">Gopalganj</option>
                <option value="Habiganj">Habiganj</option>
                <option value="Jaipurhat">Jaipurhat</option>
                <option value="Jamalpur">Jamalpur</option>
                <option value="Jessore">Jessore</option>
                <option value="Jhalakati">Jhalakati</option>
                <option value="Jhenaidah">Jhenaidah</option>
                <option value="Khagrachari">Khagrachari</option>
                <option value="Khulna">Khulna</option>
                <option value="Kishoreganj">Kishoreganj</option>
                <option value="Kurigram">Kurigram</option>
                <option value="Kushtia">Kushtia</option>
                <option value="Lakshmipur">Lakshmipur</option>
                <option value="Lalmonirhat">Lalmonirhat</option>
                <option value="Madaripur">Madaripur</option>
                <option value="Magura">Magura</option>
                <option value="Manikganj">Manikganj</option>
                <option value="Meherpur">Meherpur</option>
                <option value="Moulvibazar">Moulvibazar</option>
                <option value="Munshiganj">Munshiganj</option>
                <option value="Mymensingh">Mymensingh</option>
                <option value="Naogaon">Naogaon</option>
                <option value="Narail">Narail</option>
                <option value="Narayanganj">Narayanganj</option>
                <option value="Narsingdi">Narsingdi</option>
                <option value="Natore">Natore</option>
                <option value="Nawabganj">Nawabganj</option>
                <option value="Netrakona">Netrakona</option>
                <option value="Nilphamari">Nilphamari</option>
                <option value="Noakhali">Noakhali</option>
                <option value="Pabna">Pabna</option>
                <option value="Panchagarh">Panchagarh</option>
                <option value="Parbattya">Parbattya</option>
                <option value="Chattagram">Chattagram</option>
                <option value="Patuakhali">Patuakhali</option>
                <option value="Pirojpur">Pirojpur</option>
                <option value="Rajbari">Rajbari</option>
                <option value="Rajshahi">Rajshahi</option>
                <option value="Rangpur">Rangpur</option>
                <option value="Satkhira">Satkhira</option>
                <option value="Shariatpur">Shariatpur</option>
                <option value="Sherpur">Sherpur</option>
                <option value="Sirajganj">Sirajganj</option>
                <option value="Sunamganj">Sunamganj</option>
                <option value="Sylhet">Sylhet</option>
                <option value="Sylhet">Sylhet</option>
                <option value="Thakurgaon">Thakurgaon</option>
                

                
              </select>
              <button style="color: white;" type="submit" class="btn btn-outline-white bg-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-12">
      {% if message %}
        <h3>{{ message }}</h3>
      
      {% endif %}
      {% if members %}
        <table class="table table-bordered mt-5">
            <thead class="thead bg-primary" style="color: #ffffff;">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Last Donate</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.name }}</td>
                <td>{{ member.blood_group }}</td>
                <td>{{ member.mobile_number }}</td>
                <td>{{ member.last_date_of_blood_donation }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
    </div>
</div>
{% endblock %}