{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6 m-auto">
        <form action="{% url 'blood-doner' %}" method="GET">
          {% comment %} {% csrf_token %} {% endcomment %}
            <select name="blood_group" class="form-select form-select-lg mb-3 overflow-auto p-2 mr-2" aria-label=".form-select-lg example">
                <option value="">Select Blood Group</option>
                {% for b in blood_groups %}
                <option value="{{ b.name_of_group }}" {% if request.GET.blood_group == b.name_of_group %} selected {% endif %}>{{ b.name_of_group }}</option>
                {% endfor %}
                
              </select>

              <select name="area" class="form-select form-select-lg mb-3 p-2" aria-label=".form-select-lg example">
                <option value="">Select Area</option>
                {% for district in districts %}
                <option value="{{ district.name }}" {% if request.GET.area == district.name %} selected {% endif %}>{{ district.name }}</option>
                {% endfor %}

                
              </select>
              <button style="color: white;" type="submit" class="btn btn-outline-white bg-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered mt-5">
            <thead class="thead bg-primary" style="color: #ffffff;">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">District</th>

                <th scope="col">Last Donate</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.name|default:"-" }}</td>
                <td>{{ member.blood_group|default:"-" }}</td>
                <td>{{ member.mobile_number |default:"-" }}</td>
                <td>{{ member.district|default:"-" }}</td>

                <td>{{ member.last_date_of_blood_donation | timesince |default:"-" }}</td>
                
              </tr>
              {% empty %}
              <tr style="color:red"><td>No Data Found</td></tr>
              {% endfor %}
            </tbody>
          </table>
    
    </div>
</div>
{% endblock %}