{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="row">
    {% if all_criminals %}
    <div class="col-xl-10 col-md-8 m-auto">
      <h3>All Criminals</h3>
     <table class="table table-bordered mt-5">
     
      <thead class="bg-primary text-white">
           <tr>
             <th scope="col">#</th>
             <th scope="col">Name</th>
             <th scope="col">Father</th>
             <th scope="col">Mobile</th>
           </tr>
         </thead>
         <tbody>
         {% for criminal in all_criminals %}
           <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ criminal.name }}</td>
            <td>{{ criminal.father }}</td>
            <td>{{ criminal.mobile_number }}</td>
          </tr>
          {% endfor %}
         </tbody>
       </table>
       
    </div>
    {% endif %}
    
    </div>
    
</div>
{% endblock %}