{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="row">
        {% for criminal in crimminals %}
    <div class="col-xl-6 col-md-6">
     <table class="table table-bordered">
     
      <thead class="bg-primary text-white">
           <tr>
             <th scope="col">#</th>
             <th scope="col">Name</th>
             <th scope="col">Father</th>
             <th scope="col">Mobile</th>
           </tr>
         </thead>
         <tbody>
           <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ criminal.name }}</td>
            <td>{{ criminal.father }}</td>
            <td>{{ criminal.mobile_number }}</td>
          </tr>
         </tbody>
       </table>
       
    </div>
    {% endfor %}
    </div>
    
</div>
{% endblock %}