{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .input {
        display: block;
        width: 100%;
        padding: 40px;
        border-radius: 30px;
    }

    .input:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }
</style>

<div class="container">
    <div class="col-md-12" style="margin-top: 20%;">
        <h3 style="font-family: sans-serif; color:#bfbfbf; margin-left:10px; font-weight:bold; font-size:40px">
            Whose Information Do You Want To View?</h3>
        <form action="{% url 'search' %}" accept-charset="UTF-8" method="GET">
            <div class="input-group">

                <input type=" text" name="search" id="search" placeholder="Search by name or NID(ex: hasib/350309857)"
                    class="form-control input mt-5">

            </div>
        </form>
    </div>
</div>

{% endblock %}