{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h4>{{ member.name|title }}'s Family Data</h4>
        <div class="row text-center justify-content-center">
            <div class="card text-white bg-info mb-3 mr-2" style="max-width: 18rem;">
                <div class="card-header bg-info">Grand Father</div>
                <div class="card-body">
                  <h5 class="card-title">{{ father.father.name }}</h5>
                  <h6>({{ father.father.date_of_birth }} - {{ father.father.date_of_death }})</h6>
                </div>
              </div>

              <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header bg-danger">Grand Mother</div>
                <div class="card-body">
                  <h5 class="card-title">{{ father.mother.name }}</h5>
                  <h6>({{ father.mother.date_of_birth }} - {{ father.mother.date_of_death }})</h6>
                </div>
              </div>
        </div>

        <div class="row text-center justify-content-center">
            <div class="card border-info mb-3 mr-2" style="max-width: 18rem;">
                <div class="card-header">Father</div>
                <div class="card-body text-info">
                  <h5 class="card-title">{{ father }}</h5>
                  <h6>( {{ father.date_of_birth }} - {{ father.date_of_death }} )</h6>
                  
                </div>
              </div>

              <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Mother</div>
                <div class="card-body text-danger">
                  <h5 class="card-title">{{ mother }}</h5>
                  <h6>( {{ mother.date_of_birth }} - {{ mother.date_of_death }})</h6>
                </div>
              </div>
        </div>

        <div class="row text-center justify-content-center">
            {% for sibling in sibling %}
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-success">Sibling {{ forloop.counter }}</div>
                <div class="card-body">
                  <h5 class="card-title">{{ sibling.name }}</h5>
                  <h6>( {{ sibling.date_of_birth }} - {{ sibling.date_of_death }} )</h6>
                  <h6>{{ sibling.member_age }}</h6>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}